
body {
background-color: rgb(224, 65, 65);
}
.container {
width: 1440px;
height: 100%;
margin: 0 auto;
display: flex;
 text-align: center;
justify-content: center; 
background-color: white;
}
.header{
   width: 1438px;
   height: 769px;
   padding-bottom: 100px;
}
.header-backgroung-image{
 background-image: url(../image/bg.png);
  width: 1438px;
  height: 769px;

       background-repeat: no-repeat;
       background-position: center;
}
.header-logo{
   width: 1440px;
   height: 70px;
   display: flex;
   text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 35px;
  line-height: 70px;
   color: #FFFFFF;
   text-align: center;
  justify-content: center;
 
}
.img-logo{padding-top: 20px;}
.header-text-h1{
   height: 380px;
justify-content: center;
font-family: "Bebas Neue";
font-size: 60px;
line-height: 70px;
display: flex;
align-items: flex-end; 
text-align: center;
letter-spacing: 5.70937px; 
color: #FFFFFF;

}
.header-text-p{
font-family: "Open Sans";
line-height: 22px;
text-align: center; 
color: #FFFFFF;
justify-content: center;

}
.header-text-p-div {
  height: 224px;
display: flex;
align-items: flex-end;
justify-content: center;
}
.header-text-p-bottom{

   display: flex;
   align-items: flex-end;
font-family: Open Sans;
   
text-align: center;
letter-spacing: 3.7px;
justify-content: center;
color: #FFFFFF;

   }
/*=============== start navbar
=============================================== */
.navbar{
   height: 65px;
   width: 100%;
    display: flex;
    border: 1px solid #E6E6E6;
    
}
   .navbar-logo {
    align-items: center;
          display: flex;
         text-transform: uppercase;
      font-family: "Bebas Neue";
      font-size: 25px;
      line-height: 30px; 
      color: #0e0d0d;
   
    padding-left: 251px;
  
   }
   .img-logo1 {
      padding-top: 5px;
   }
    .navigation-text {
 padding-left: 350px;   
text-transform: uppercase;
display: flex;
text-align: center;
   }
.navigation-text>li>a {
text-decoration: none;
font-family: "Open Sans";
font-weight: 600;
font-size: 12px;
line-height: 16px;
display: flex;
text-align: center; 
letter-spacing: 1.09091px;
padding-top: 25px;
color: #48555B;
}
a:hover {
   color: #00A4E5;
}
.navigation-text>li:not(:first-child),
.navigation-text>li:not(:last-child) {
   padding: 0px 30px ;}
/*=============== start about
=============================================== */
.about{
   width: 941px;
   height: 520px;
   
   text-align: center;
 
}

.about-text-h2{
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   align-items: flex-end;
 margin-top: 57px;
   letter-spacing: 2.30625px;
text-transform: uppercase;
   color: #48555B;
}
.about-line {

   width: 50px;
   border: 1px solid #00A4E5;
    margin: 25px auto 50px;
    background-color: #00A4E5;


}
.about-block{
   display: flex;
   text-align: left;
   height: 120px;
}
.about-block-left{
   width: 370px;
}
.about-block-p-bottom {
 
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 27px;

   letter-spacing: 0.1875px;
   color: #48555B;
   padding-bottom: 30px;
}
.about-block-p-bottom>a {
   text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  letter-spacing: 0.1875px;
  color: #48555B;
  padding-bottom: 30px;
}
.about-block-p-bottom>a:hover {
   color: #00A4E5;
}
.about-block-p-top
{
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 23px;
      display: flex;
   align-items: center;
   letter-spacing: 0.1875px;

   color: #48555B;
}
.about-block-right {
   display: flex;
   padding-top: 25px;
  
}
.about-block-right-img1{
   background-image: url(../image/Bitmap\ .png);
   width: 140px;
   height: 224px;
   font-family: Open Sans;
   font-weight: 800;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: 0.1875px;
text-transform: uppercase;
   color: #FFFFFF;
   padding-left: 8px;
   padding-top: 8px;
   background-repeat: no-repeat;
   background-position: center;
   


}
.about-block-right-img2 {
   background-image: url(../image/Bitmap\ 2.png);
   width: 140px;
    height: 224px;
margin-left: 25px;
margin-right: 25px;
font-family: Open Sans;
font-weight: 800;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.1875px;
text-transform: uppercase;
color: #FFFFFF;
   padding-left: 8px;
   padding-top: 8px;
     background-repeat: no-repeat;
     background-position: center;
}
.about-block-right-img3 {
   background-image: url(../image/Bitmap\ 3.png);
   width: 140px;
   height: 224px;
margin-left: 25px;
margin-right: 25px;
font-family: Open Sans;
font-weight: 800;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.1875px;
text-transform: uppercase;
color: #FFFFFF;
padding-left: 8px;
padding-top: 8px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-block-right-img1>p{
   padding-left: 10px;
   padding-top: 10px;
}
.about-block-right-img2>p {
   padding-left: 10px;
   padding-top: 10px;
}
.about-block-right-img3>p {
   padding-left: 10px;
   padding-top: 10px;
   line-height: 25px;
}
/*=============== start services
=============================================== */
.services{
  width: 940px;
 padding-bottom: 105px;
    
}
.capabilites{
  
    display: flex; 
    padding-bottom: 76px;
}
.capabilites-h2{
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   text-transform: uppercase;
   letter-spacing: 2.30625px;

   color: #48555B;
}
.capabilites-line {

   width: 50px;
   border: 2px solid #00A4E5;
 margin-top: 10px;
   background-color: #00A4E5;


}
.capabilites-middle {
   width: 405.4px;
   height: 38px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 19px;
align-items: center;
letter-spacing: 0.2px;
text-align: left;
color: #48555B;
margin-left: 155px;
margin-right: 20px;
}


.capabilites-button {
   font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 18px;
width: 150px;
height: 40px;
text-align: center;
letter-spacing: 0.5px;
background: #00A4E5;
border: none;
color: #FFFFFF;
}
.services-block{
   display:  flex;

 
}
.services-block-left,
.services-block-middle,
.services-block-right {
   margin-right: 28px;
   padding-top: 38px;
   padding-left: 23px;
width: 295px;
height: 330px;
   background: #FFFFFF;
   border: 1px solid #ada9a9;
text-align: left;
}
.services-block-left-h2,
.services-block-middle-h2,
.services-block-right-h2 {
   font-family: Open Sans;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
    align-items: left;
    padding-top: 25px;
    padding-bottom: 13px;
   letter-spacing: 0.426667px;
   color: #48555B;
}
.services-block-left-p,
.services-block-middle-p,
.services-block-right-p {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 23px;
   letter-spacing: 0.1875px;
   color: #48555B;
  
}
.get-in-touch {
   width: 1440px;
   height: 499px;

  background-image: url(../image/bg.jpg);

}

.get-in-touch-h2
{
   padding-left: 545px;
  padding-top:120px;
  width: 350px;
  height: 72px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 36px;
    letter-spacing: 0.15px;
   color: #48555B;
   padding-bottom: 35px;

}
.get-in-touch-button {

text-transform: uppercase;
padding: 11px 26px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   line-height: 18px;
background: #00A4E5;
border: none;

   text-align: center;
   letter-spacing: 0.5px;

   color: #FFFFFF;
}
button:hover {
   color: #e5007e;
}
.newsletter {
   width: 1440px;
   height: 100px;
      display: flex;
   background: #171819;
   align-items: center;
padding-left: 378px;


}
.newsletter-h2 {
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 30px;
   letter-spacing: 0.846154px;
   color: #FFFFFF;
   padding-right: 70px;
}
.newsletter-input{
   width: 250px;
   height: 38px;
   padding-left: 16px;
   border: none;
}
.newsletter-button {

   text-transform: uppercase;
   padding: 11px 26px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   line-height: 18px;
   background: #00A4E5;
   border: none;
width: 150px;
height: 40px;
   text-align: center;
   letter-spacing: 0.5px;
background: #00A4E5;
   color: #FFFFFF;
}

.footer-block{
   width: 1440px;
   height: 240px;
     background-color: #141A20;
     display: flex;
  
        padding-left: 249px;
        padding-top: 42px;
         text-align: left;
}
.footer-colum1{
   justify-content: left;
   width: 250px;
padding-right: 71px;
}
.footer-logo {
     width: 1440px;
     height: 60px;
     display: flex;
     text-transform: uppercase;
     font-family: "Bebas Neue";
     font-size: 30px;
     line-height: 60px;
     color: #FFFFFF;
     text-align: center;
    
} 

.img-logo {
   padding-top: 15px;
} 
.footer-h2{
 color: #FFFFFF;
 font-family: Open Sans;
font-size: 11px;
line-height: 15px;
 letter-spacing: 0.85px;
}
.footer-p {
   color: #FFFFFF;
   font-family: Open Sans;
  font-size: 11px;
  line-height: 19px;
   letter-spacing: 0.85px;
}
.colum2{
   padding-bottom: 10px;
   padding-right: 34px;
}
.footer-colum3{
   padding-top: 25px;
}
.colum3 {
   padding-right: 38px;
   padding-bottom: 10px;
}
.footer-colum4 {
   padding-top: 25px;
}

.colum4 {
padding-right: 58px;
   padding-bottom: 10px;
}

.footer-colum5-p {
   width: 141px;
   

   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 11px;
   line-height: 15px;
   letter-spacing: 0.85px;
}
.footer-colum5-p{
   padding-top: 20px;
   padding-right: 46.48px;
}
.footer-colum6{
 padding-top: 32.48px;
 
}
.image-footer>a {
   color: grey;
   margin-inline: 10px;
}
.copyright{
   background-color: #171819;
   width: 100%;
   height: 60px;
   
}

.copyright-h3 {
   padding-top: 21px;
   font-family: Open Sans;
 
   font-size: 11px;
   line-height: 15px;
   
   letter-spacing: 0.846154px;

   color: #FFFFFF;
}