@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
background-color: grey;
}
.container {
   width: 1400px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   text-align: center;
   justify-content: center;
   background-color: white;
}
.navigation-block {
   height: 70px;
   width: 1400px;
   background: black;
display: flex; 
}
.logo{
   font-family: "Raleway";
   padding: 20px 625px 19px 110px; 
   color: #fff;
   text-transform: uppercase;
   font-size: 30px;
 }
.logo-color{
    color: #EC7979;
}
.navigation-ul {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    text-transform: capitalize; 
}
.navigation-ul>li:not(:first-child),
.navigation-ul>li:not(:last-child) {
   padding: 25px 24px;
}
/* конец navigation */
.header-background-image {
width: 1400px;
height: 601px;
background-image: url(../image/background-1.png);
 
}
.header-background {
   background: rgb(0, 0, 0, 0.45);
   height: 601px;
   width: 100%;
   display: flex;
}
.header-colum-left {
   padding: 109px 265px 101px 110px;
   width: 544px;
   text-align: left;
   line-height: 42px;
   }
.header-colum-left>p{
 font-family: Roboto;
 font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 70px;

}
.header-colum-left>h1{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
text-transform: uppercase;
}
.header-line{
   width: 64px;
   border-top: 1px solid #FFFFFF;
   margin: 50px 0px 50px;
   align-items: left;
}
.text-grey {
     color: rgba(255, 255, 255, 0.8);
    font-family: "Raleway";
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 282px;
    height: 38px;
       margin: 50px 0px 50px;

}
.header-div-form {
   width: 370px;
   height: 370px;
}
.header-div-with-form {
   width: 370px;
   height: 316px;
   border-radius: 8px 8px 0 0;
   background-color: #fff;
   margin: 111px 111px 0 0;
}
.header-form-p-free {
   width: 100%;
   height: 56px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-family: "Open Sans";
   font-weight: 700;
   color: #333;
}
.span-free {
   color: #ec7979;
}
.header-form-p-text {
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 14px;
   color: rgba(189, 189, 189, 1);
   text-align: left;
   padding-left: 59px;
}
.p-input-name {
   padding-top: 38px;
}
.header-input {
   border: none;
   border-bottom: 1px solid #bdbdbd;
   width: 252px;
}
.header-input:focus {
   outline: none;
}
.input-name {
   font-size: 16px;
   margin-bottom: 22px;
}
.input-email {
   font-size: 19px;
   margin-bottom: 22px;
}
.input-password {
   font-size: 19px;
   margin-bottom: 19px;
}
.header-form-get-started {
   width: 100%;
   height: 54px;
   background-color: #ec7979;
   font-size: 16px;
   font-family: "Open Sans";
   font-weight: 600;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0 0 8px 8px;
}
/* конец header */

.section-media{
   width: 1400px;
   height: 110px;
   left: 0px;
   top: 670px;

   background: #F8EFEF
}
.social-media-p {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
  padding: 17px 0;

color: #333333;}
.section-media {
   height: 110px;
   width: 100%;
   background-color: #f8efef;
   display: flex;
}
.section-madia-text {
     width: 365px;
     padding-left: 111px;
     text-align: left;
    color: #86878B
}
.social-icons{
  width: 684px;
  height: 42px;
  padding: 34px 111px 34px 129px;
  display: flex;
justify-content: space-between;
}
.social-icons>a{
color: #cccccc;} 
/* конец social */


.features {
 width: 1400px;
 height: 600px;
    display: flex;
}

.features-tab {
 height:  356px;
width: 110px;
margin-left: 111px;
margin-top: 125px;
}

.button1 {
   background-color:#333333;
   border-radius: 4px;
transition-duration: 1s;
cursor: grab;
width: 112px;
height: 110px;

}

.button1:hover {
    background-color: #ec7979;
    width: 112px;
    height: 110px;

    }

.button2 {
     background-color:#333333;
     border-radius: 4px;
     transition-duration: 1s;
     cursor: grab;
     width: 112px;
     height: 110px;
     margin-bottom: 10px;
     margin-top: 10px;
}
.button3 {
   background-color: #333333;
   border-radius: 4px;
   transition-duration: 1s;
   cursor: grab;
   width: 112px;
   height: 110px;
}
.button2:hover {
    background-color: #ec7979;
}
.button3:hover {
   background-color: #ec7979;
   
}
/* заканчивается часть с TAB */
.features-text
{
       width: 572px;
       height: 350px;
       padding: 125px 50px 0 118px;
       text-align: left;
}
.features-text-top {
      color: #000;
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 69px;
}
.features-text-middle{
   font-family: "Open Sans";
   font-weight: 400;
   color: rgba(134, 135, 139, 1);
   line-height: 19px;
   padding-bottom: 20px;
   text-transform: uppercase;
   font-size: 14px;
}
.features-text-middle-bottom{
      font-family: "Open Sans";
      font-weight: 400;
      color: rgba(134, 135, 139, 1);
      line-height: 19px;
      padding-bottom: 91px;
      text-transform: uppercase;
      font-size: 14px;
}
.features-button-2 {
   text-decoration: none;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   text-align: center;
   color: #FFFFFF;
   padding: 11px 26px 11px 26px;
   border: 1px solid #ec7979;
   background-color: #ec7979;
}
.features-image{
    padding-top: 100px;
}
/* заканчивается features */

.our-process-text-h2 {
margin-top: 100px;
text-align: center;
text-transform: uppercase;
font-family: Raleway;
font-style: normal;
font-weight:lighter;
font-size: 36px;
line-height: 42px;
color: #212121;
}
.line{
border-bottom: 1px solid #EC7979;
width: 64px;
 margin: 25px auto 0;
}
.our-process-text-p {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #86878B;
margin: 30px auto 67px;
}   /*все ок*/
.banner{
     text-align: center;

}

.banner-container1{
  
   top: 100px;
   margin-right: 25px;
   width:350px;
   height: 225px;
}
#text-h3{
   margin-top: 21px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
}
#text-p{
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.banner-container1-img{
    width: 70px;
    height: 70px;
  margin-left: 140px;
    border-radius: 50% ;
  border: 1px solid;
      color: #E72424;
       background-image: url("../image/im1.png");
       background-repeat: no-repeat;
       background-position: center;
}
.banner-container2-img {
width: 70px;
height: 70px;
margin-left: 140px;
border-radius: 50%;
border: 1px solid;
color: #E72424;
background-image: url("../image/im2.png");
background-repeat: no-repeat;
background-position: center;
}
.banner-container3-img {
width: 70px;
height: 70px;
margin-left: 140px;
border-radius: 50%;
border: 1px solid;
color: #E72424;
background-image: url("../image/im3.png");
background-repeat: no-repeat;
background-position: center;
}
.banner-container2 {
width:350px;
height: 225px;
margin-right: 25px;
}
.banner-container3 {
margin-right: 143px;
width:350px;
height: 225px;
margin-right: 25px;
}
/* заканчивается banner */

.pricing{
   width: 1400px;
  
   
   background: #F5F5F5;
   padding-bottom: 60px;
}
.pricing-h2-top{
   margin-top: 80px;
   font-family: Raleway;
   font-style: normal;
   font-weight: normal;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   text-transform: uppercase;
   color: #212121;
}
.pricing-line{
   width: 64px;
   border-top: 2px solid #EC7979;
   margin: 34px 668px 34px 668px;
  justify-content: center;


}
.pricing-p-top{

   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
      color: #86878B;
      padding-bottom: 62px;
}
/*===== start basic 
============================*/
 .pricing-basic-block{
      display: flex;
      justify-content: space-between;
      margin-inline:113px;
      padding-top: 47px;
 }
 .basic-top{
    width: 340px;
    background: #333333;
    text-align: center;
  padding-top: 25px;

 }
 .basic-p-top{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;
width: 340px;
height: 50px;
 }
 .basic-h2-top {
   
   height: 100px;
   font-family: Raleway;
   font-style: normal;
   font-weight: bold;
   font-size: 35px;
 padding-top: 35px;

   text-align: center;
   color: #FFFFFF;
  
    border-top: 1px solid white;
 border-bottom: 2px solid white;
 }  
.basic-p-bottom {
height: 50px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
 padding-top: 25px;
}
.Rectangle {
height: 40px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #86878B;
background: #FFFFFF;
margin-top: 4px;
text-align: center;
padding-top: 10px;
}

/*====== end basic
=============================*/
/* start testimonials */
.testimonials{

height: 600px;

}
.testimonials-block{
    display: flex; 
    margin-inline:157px;

}
.testimonials-colum2{
   margin-left: 112px;
}
.testimonials-text
{
   padding-top: 80px;
   font-family: Raleway;
   font-style: normal;
   font-weight: normal;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   text-transform: uppercase;
   color: #212121;
   text-transform: uppercase;
  
}
.testimonials-line {
   border-bottom: 1px solid #E72424;
   width: 64px;
   margin: 25px auto 0;
   margin-top: 48px;
}

.testimonials-p{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #86878B;
padding-top: 34px;
padding-bottom: 67px;}
.testimonials-avatar-block {
   display: flex;
}

.testimonials-colum-p{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
align-items: center;
text-align: center;
color: #86878B;
background: #E2E2E2;
width: 298px;
height: 110px;
display: flex; 
border-radius: 7px;
}
.testimonials-avatar{
    background-repeat: no-repeat;
  
    display: flex;
}

.testimonials-avatar
{
    margin-top: 30px;

}
.testimonials-colum-p-Jeremy {
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 27px;
width: 97px;
height: 27px;
   align-items: center;
   text-align: center;
display: flex;
   color: #333333;
   margin-left: 50px;
   margin-top: 30px;
      

}
.testimonials-colum-p-Manager
{
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
    display: flex;
   align-items: right;
     margin-top: 12px;
   color: #86878B;
      margin-left: 83px;
}
/* end testimonials */
.main-container{
width: 100%;
height: 326px;
background-image: url("../image/footer.png");
 margin-top: 80px;
text-align: center;
}
.fon-image{
   background-color:rgba(0,0,0,.5);
   height: 100%;
}
.main-container-h2{
color: white;
padding-top: 76px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
}
.line1 {
border-bottom: 1px solid white;
width: 64px;
margin: 25px auto 0;
margin-top: 48px; 
}
.main-content-p{
font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: white;
opacity: 0.6;
text-align: center;
margin-top: 30px;
}
#button{
margin-top: 30px;
}
.button{
text-decoration: none;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
padding: 11px 26px 11px 26px;
border: 1px solid #FFFFFF;
}
/* заканчивается main */

/* ========= start contactUs
=================================== */
.contactU{
height: 700px;}

.contactUs-h2-top{
font-family: Raleway;
font-size: 36px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: #212121;
margin-top: 80px;
}
.contactUs-line {
   border-bottom: 1px solid #EC7979;
   width: 64px;
   margin: 25px auto 0;
   padding-top: 34px;
   
}
.contactUs-p-top{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #86878B;
  padding-top: 34px;
 padding-bottom: 91px;
}
.contactUs-with-form{
   display: flex;
}
.contactUs-form-p-text {
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 14px;
   color: rgba(189, 189, 189, 1);
   text-align: left;
   padding-left: 59px;
}

.contact-us-text-areas {
   display: flex;
}

.contact-us-messages-block {
   width: 489px;
   padding: 0 222px 0 111px;
   margin-bottom: 115px;
}

.contact-us-form-p-text {
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 14px;
   color: rgba(189, 189, 189, 1);
   text-align: left;
}

.contact-us-input {
   border: none;
   border-bottom: 1px solid #bdbdbd;
   width: 478px;
}

.contact-us-input:focus {
   outline: none;
}

.contact-us-input-name {
   font-size: 32px;
   margin-bottom: 31px;
}

.contact-us-input-email {
   font-size: 32px;
   margin-bottom: 32px;
}

.contact-us-input-password {
   font-size: 32px;
}

.contact-us-textarea-and-message {
   text-align: left;
}

.contact-us-message {
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 14px;
   color: rgba(189, 189, 189, 1);
}

textarea {
   resize: none;
   width: 478px;
   height: 204px;
   border: none;
   border-bottom: 1px solid #bdbdbd;
}
textarea:focus {
   outline: none;
 
}
.contact-us-message-div{
 padding-bottom: 44px;
}
.button-contact-us {
   padding: 12px 30px;
   border: 2px solid #ec7979;
   color: rgba(189, 189, 189, 1);
   font-family: "Open Sans";
   font-weight: 600;
   font-size: 15px;
   transition: background-color 1s ease;
   background-color: rgb(83, 30, 30);

}

.button-contact-us:hover {
   color: #fff;
   transition: background-color 1s ease;
   background-color: #ec7979;
}

.footer{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: rgba(255, 255, 255, 0.5);
margin-bottom: 0px;
height: 101px;

}
.content-footer{
   background-color: black;
   width: 100%;
      padding-top: 30px;
}
.image-footer>a{
   color: grey;
   margin-inline: 10px;
}
.footer-text{
margin-top: 18px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: rgba(255, 255, 255, 0.5);
} 