@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
body {
    width: 1400px;
    height: 1021px;
    border: 1px solid #9b2a2a;

}
.header{
  
       margin: 100px auto 50px;

}
.header-text-h2 {

    text-align: center;
    text-transform: uppercase;
   font-family: Raleway;
   font-style: normal;
   font-weight:lighter;
   font-size: 36px;
   line-height: 42px;
   color: #212121;
}
.logo{
border-bottom: 1px solid #E72424;
width: 64px;
 margin: 25px auto 0;
}
.header-text-p{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #86878B;
text-align: center;
margin: 25px auto 50px;
}   /*все ок*/
.banner{
    display: flex;
   width: 100%;
     text-align: center;
   margin-bottom: 80px;
}

.banner-container1{
   margin-left: 143px;
    
   display: inline-block;
   top: 100px;
margin-right: 25px;
   width:350px;
   height: 225px;
}
#text-h3{
   margin-top: 21px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
}
#text-p{
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.banner-container1-img{
    width: 70px;
    height: 70px;
  margin-left: 140px;
    border-radius: 50% ;
  border: 1px solid;
      color: #E72424;
       background-image: url("../image/im1.png");
       background-repeat: no-repeat;
       background-position: center;
    
}
.banner-container2-img {
    width: 70px;
    height: 70px;
    margin-left: 140px;
    border-radius: 50%;
    border: 1px solid;
    color: #E72424;
    background-image: url("../image/im2.png");
    background-repeat: no-repeat;
    background-position: center;

}
.banner-container3-img {
    width: 70px;
    height: 70px;
    margin-left: 140px;
    border-radius: 50%;
    border: 1px solid;
    color: #E72424;
    background-image: url("../image/im3.png");
    background-repeat: no-repeat;
    background-position: center;

}
.banner-container2 {
    
   
 width:350px;
 height: 225px;
 margin-right: 25px;
}
.banner-container3 {
   margin-right: 143px;
  
  width:350px;
  height: 225px;
  margin-right: 25px;
    
}
.main {
    height: 326px;
    border: 4px rgb(89, 0, 255) solid;  /*убрать*/
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
     url(../image/footer.png);
    background-color: rgb(8, 8, 8);
    mix-blend-mode: darken;

text-align: center;

}
.main-container-h2{
    color: white;
    margin-top: 76px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.logo1 {
    border-bottom: 1px solid white;
    width: 64px;
    margin: 25px auto 0;
    
}
.main-content-p{
    color: rgba(255, 255, 255, 0.8);
opacity: 0.5;
}
.footer{
    border: 5px rgb(187, 255, 0) solid; /*убрать*/
}
